$container_width = 990px
$mobile_viewport_width = 480px

$global_font_text = 1rem
$global_inline_height = 1.4rem

$light_grey = #cccccc
$light_grey_focused = #333333
$light_black = #333333

$forced_white = #f2f2f2

$lumi_opacity_black_level_3 = rgba(0,0,0,0.9)
$lumi_opacity_black_level_2 = rgba(0,0,0,0.6)
$lumi_opacity_black_level_1 = rgba(0,0,0,0.3)

$lumi_opacity_white_level_3 = rgba(255,255,255,0.9)
$lumi_opacity_white_level_2 = rgba(255,255,255,0.6)
$lumi_opacity_white_level_1 = rgba(255,255,255,0.3)

@css
:export
    containerWidth $container_width
    mobile_viewport_width $mobile_viewport_width